
<form method="post">
    <div class="form-group">
        <input name="role" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Search">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>