@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>
<div class="row">
    <a class="btn btn-primary" asp-action="create">create</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody>

                @foreach (IdentityRole item in Model)
                {
                    
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a asp-action="update" asp-route-id="@item.Id">Update</a>
                            <a asp-action="detail" asp-route-id="@item.Id">Detail</a>
                            <a asp-action="delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>